<center><h1>About us</h1>
<p>This site was coded in 36 hours by Justin Tam, Tim Yu and Jacqualine Quach as part of Hack Camp, a subprogram under LA Hacks, that began on April 11 2014. Tim had no experience in Ruby or Ruby on Rails prior to this hackthon, and Jusitn and Jacqueline were both two weeks into their introduction to computer science course at UCLA. In other words....This site doesn't look bad for total newbs.</p>

<p> Honorary Mention: Darwin Ocampo , for at least attempting at learn Ruby. </p></center>